Repository apache/orc-format, pull requests merged in 2023-12, with the labels that each got.

#4 ORC-FORMAT-3: Enable `Protocol Buffers` Linter
  .github/workflows/build_and_test.yml
  src/main/proto/buf.yaml
  src/main/proto/orc/proto/orc_proto.proto
Labels: INFRA, PROTO

#9 ORC-FORMAT-8: Add `maven-enforcer-plugin` to enforce Java and Maven versions
  pom.xml
Labels: BUILD

#7 ORC-FORMAT-6: Add `CompressionKind.BROTLI`
  src/main/proto/orc/proto/orc_proto.proto
Labels: PROTO

#11 ORC-FORMAT-10: Updated Maven version to 3.9.6
  pom.xml
Labels: BUILD
